apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "edgedelta.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "edgedelta.labels" . | nindent 4 }}
    {{- if .Values.labels }}
      {{- toYaml .Values.labels | nindent 4 }}
    {{- end }}
    edgedelta/agent-type: processor
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "edgedelta.selectorLabels" . | nindent 6 }}
      edgedelta/agent-type: processor
  strategy:
  {{- if .Values.updateStrategy }}
    {{- toYaml .Values.updateStrategy | nindent 4 }}
  {{- else }}
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  {{- end }}
  template:
    metadata:
      {{- if or .Values.annotations .Values.podSecurity.apparmor.enabled }}
      annotations:
      {{- if .Values.podSecurity.apparmor.enabled }}
        container.apparmor.security.beta.kubernetes.io/agent: {{ .Values.podSecurity.apparmor.profile }}
      {{- end }}
      {{- if .Values.annotations }}
        {{- toYaml .Values.annotations | nindent 8 }}
      {{- end }}
      {{- end }}
      labels:
      {{- include "edgedelta.labels" . | nindent 8 }}
      {{- if .Values.labels }}
        {{- toYaml .Values.labels | nindent 8 }}
      {{- end }}
      {{- if .Values.secretApiKey.key }}
      {{ $lookupResult := lookup "v1" "Secret" .Release.Namespace (include "apiKeySecretName" .) }}
      {{- if .Values.secretApiKey.value }}
        edgedelta/api-key-sha: {{ .Values.secretApiKey.value | sha256sum | substr 0 48 }}
      {{- else if $lookupResult }}
        edgedelta/api-key-sha: {{ index $lookupResult.data .Values.secretApiKey.key | b64dec | sha256sum | substr 0 48 }}
      {{- end }}
      {{- end }}
        edgedelta/agent-type: processor
    spec:
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.image.pullSecrets | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "edgedelta.fullname" . }}
      {{- if .Values.tolerations }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- if .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml .Values.topologySpreadConstraints | nindent 8 }}
      {{- end }}
      {{- if .Values.podSecurity.securityContextConstraints.create -}}
      {{- if and .Values.podSecurity.seLinuxContext .Values.podSecurity.seLinuxContext.seLinuxOptions }}
      securityContext:
        seLinuxOptions:
{{ toYaml .Values.podSecurity.seLinuxContext.seLinuxOptions | indent 10 }}
      {{- end }}
      {{- else if eq (include "isOpenShift" .) "true"}}
      securityContext:
        seLinuxOptions:
          user: "system_u"
          role: "system_r"
          type: "spc_t"
          level: "s0"
      {{- end }}
      containers:
        # agent container
        - name: {{ .Chart.Name }}-agent
          image: {{ .Values.image.fullPath | default (printf "%s/%s:%s" .Values.repository .Values.image.name (.Values.image.tag | default .Chart.AppVersion)) }}
          {{- if .Values.edConfigContent }}
          command:
            - /edgedelta/edgedelta
          args:
            - -c
            - /var/edgedelta/config.yml
          {{- end }}
          ports:
            - name: coordinator
              containerPort: {{ .Values.coordinatorProps.port }}
          {{- if .Values.storePort }}
            - name: metrics
              containerPort: {{ .Values.storePort }}
          {{- end }}
          {{- if .Values.profilerPort }}
            - name: profiler
              containerPort: {{ .Values.profilerPort }}
          {{- end }}
          env:
            - name: ED_FLEET_TYPE
              value: coordinator
            - name: ED_DISABLE_SAMPLE_COLLECTOR
              value: "1"
            - name: ED_COORDINATOR_SERVER_ENABLED
              value: "1"
            - name: ED_COORDINATOR_SERVER_PORT
              value: "{{ .Values.coordinatorProps.port }}"
            - name: ED_COORDINATOR_USE_BACKEND
              value: "1"
            - name: ED_DATA_PATH
              value: {{ coalesce .Values.persistence.mountPath "/edgedelta/data" | quote }}
            {{- if .Values.apiKey }}
            - name:  ED_API_KEY
              value: {{ .Values.apiKey | quote }}
            {{- else if .Values.secretApiKey.key }}
            {{ $lookupResult := lookup "v1" "Secret" .Release.Namespace (include "apiKeySecretName" .) }}
            {{- if or $lookupResult .Values.secretApiKey.value .Values.secretApiKey.enable }}
            - name:  ED_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "apiKeySecretName" . }}
                  key: {{ .Values.secretApiKey.key }}
            {{- end }}
            {{- end }}
            {{- if .Values.storePort }}
            - name:  STORE_PORT
              value: "{{ .Values.storePort }}"
            {{- end }}
            {{- if .Values.profilerPort }}
            - name: PROFILER_PORT
              value: "{{ .Values.profilerPort }}"
          {{- end }}
            {{- if .Values.edTraceFiles }}
            - name: ED_TRACE_FILES
              value: {{ .Values.edTraceFiles | quote }}
            {{- end }}
            {{- if .Values.edApiEndpoint }}
            - name:  ED_API_ENDPOINT
              value: {{ .Values.edApiEndpoint }}
            {{- end }}
            {{- if .Values.edBackendDisabled }}
            - name:  ED_BACKEND_DISABLED
              value: "{{ .Values.edBackendDisabled }}"
            {{- end }}
            {{- if .Values.edSkipConfDownload }}
            - name:  ED_SKIP_CONF_DOWNLOAD
              value: "{{ .Values.edSkipConfDownload }}"
            {{- end }}
            {{- if .Values.edTagOverride }}
            - name:  ED_TAG_OVERRIDE
              value: {{ .Values.edTagOverride }}
            {{- end }}
            {{- if .Values.edClusterName }}
            - name: ED_CLUSTER_NAME
              value: {{ .Values.edClusterName }}
            {{- end }}
            {{- if .Values.edSkipTlsVerify }}
            - name: ED_SKIP_K8S_TLS_VERIFY
              value: "{{ .Values.edSkipTlsVerify }}"
            {{- end }}
            {{- if .Values.edOrgID }}
            - name:  ED_ORG_ID
              value: {{ .Values.edOrgID }}
            {{- end }}
            {{- if .Values.edSuppressionMode }}
            - name:  ED_SUPPRESSION_MODE
              value: "{{ .Values.edSuppressionMode }}"
            {{- end }}
            {{- if .Values.edWorkflows }}
            - name:  ED_WORKFLOWS
              value: {{ .Values.edWorkflows }}
            {{- end }}
             {{- if .Values.edEnableControllerDiscovery }}
            - name: ED_ENABLE_PARENT_K8S_CONTROLLER_DISCOVERY
              value: "1"
            {{- end }}
            {{- if .Values.edWorkflowPrefixes }}
            - name:  ED_WORKFLOW_PREFIXES
              value: {{ .Values.edWorkflowPrefixes }}
            {{- end }}
            {{- if .Values.httpProxy }}
            - name:  HTTP_PROXY
              value: {{ .Values.httpProxy }}
            {{- end }}
            {{- if .Values.httpsProxy }}
            - name:  HTTPS_PROXY
              value: {{ .Values.httpsProxy }}
            {{- end }}
            {{- if .Values.noProxy }}
            - name:  NO_PROXY
              value: {{ .Values.noProxy }}
            {{- end }}
            {{- if .Values.edCustomTags }}
            - name:  ED_CUSTOM_TAGS
              value: "{{ .Values.edCustomTags }}"
            {{- end }}
            {{- if .Values.goMemLimit }}
            - name: GOMEMLIMIT
              value: {{ .Values.goMemLimit }}
            {{- end }}
            {{- if .Values.edAIEventEndpoint }}
            - name: ED_AI_EVENT_ENDPOINT
              value: {{ .Values.edAIEventEndpoint }}
            {{- end }}
            - name: ED_HOST_OVERRIDE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: ED_K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: ED_K8S_NAMESPACE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: ED_K8S_POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            {{- range .Values.envs }}
            - name: {{ .name }}
              {{- if .value }}
              value: "{{ .value }}"
              {{- end }}
              {{- if .valueFrom }}
              valueFrom:
                {{ toYaml .valueFrom | nindent 16 }}
              {{- end }}
            {{- end }}
            {{- range .Values.secrets }}
            - name: {{ .name }}
              valueFrom:
                secretKeyRef:
                  name: {{ .secretKeyRef.name }}
                  key: {{ .secretKeyRef.key }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: data-volume
              mountPath: {{ coalesce .Values.persistence.mountPath "/edgedelta/data" }}
            {{- if .Values.edConfigContent }}
            - name: config-volume
              mountPath: /var/edgedelta
            {{- end }}
            {{- if (.Values.volumeProps).volumeMounts }}
              {{- toYaml .Values.volumeProps.volumeMounts | nindent 12 }}
            {{- end }}
      terminationGracePeriodSeconds: 10
      volumes:
        - name: data-volume
        {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ coalesce .Values.persistence.existingClaim (include "edgedelta.fullname" .) }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        {{- if .Values.edConfigContent }}
        - name: config-volume
          configMap:
            name: {{ .Release.Name }}
        {{- end }}
        {{- if (.Values.volumeProps).volumes }}
          {{- toYaml .Values.volumeProps.volumes | nindent 8 }}
        {{- end }}